.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  // outline: 1px solid rgb(226, 179, 171);

  @include mq(mob) {
    max-width: 480px;
  }

  @include mq(tab) {
    max-width: 718px;
  }

  @include mq(desk) {
    max-width: 1344px;
  }
}
