:root {
  --accent-color: #ff6b09;
  --primaryTextColor: #111518;
  --secondaryTextColor: #b9b9b9;
  --threeTextColor: #3d3d3d;
  --bg-white-color: #ffffff;

  --card-top: 30px;
  --card-left: 30px;
  --card-item: 1;
}
