:root {
  --accent-color: #ff6b09;
  --primaryTextColor: #111518;
  --secondaryTextColor: #b9b9b9;
  --threeTextColor: #3d3d3d;
  --bg-white-color: #ffffff;
  --bg-black-color: #111518;

  --buttonAccent: #ff5c00;

  --card-gap: 30px;
  --card-item: 1;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
