<section class="about section" id="al-about">
  <div class="container">
    <h2 class="section-title" data-aos="fade-left">Teacher</h2>
    <div class="about__conteiner">
      <div class="about__picture" data-aos="fade-right">
        <picture>
          <source srcset="./images/about/teacher-desk1x.jpg 1x, ./images/about/teacher-desk2x.jpg 2x"
            media="(min-width:1366px)" type="image/jpeg" />
          <source srcset="./images/about/teacher-tab1x.jpg 1x, ./images/about/teacher-tab2x.jpg 2x"
            media="(min-width:768px)" type="image/jpeg" />
          <source srcset="./images/about/teacher-mob1x.jpg 1x, ./images/about/teacher-mob2x.jpg 2x"
            media="(max-width:767px)" type="image/jpeg" />
          <img class="about__img" src="./images/about/teacher-mob1x.jpg" width="243" height="305" alt="girl" />
        </picture>
      </div>
      <div class="about__story" data-aos="fade-left">
        <h3 class="title__name">Elena Moreva</h3>
        <ul class="about__list">
          <li class="about__item">6 yeards of experience in preparing students for UPE</li>
          <li class="about__item">Own result of passing VNO - 197 points 2 years in a row</li>
          <li class="about__item">
            Passed excellent at the international analogue of UPE - Cambridge PET (Preliminary
            English Test)
          </li>
        </ul>
        <p class="about__text paragraph">
          Graduated from the Institute of International Relations of the NAU with a degree in
          translator-analyst.
        </p>
        <p class="about__text paragraph">
          In spare time takes courses from the best universities in the world on effective teaching
          and essay writing techniques.
        </p>
        <p class="about__text last">
          Completed: English Grammar and Essay Writing (Berkeley), English Grammar & Style (The
          University of Queesland), How to Write an Essay (Berkeley), Academic and Business Writing
          (Berkeley), The Art of Teaching (GEMS education), Powerful Tools for Teaching and Learning
          (University of Houston).
        </p>
        <a class="certificate" href="https://www.cambridgeenglish.org" target="_blank"
          rel="noopener noreferrer">Cambrige English Entry Level Certificate</a>
      </div>
    </div>
  </div>
</section>