<!-- на саму секцию класс секция,
    дай на  h2 класс section-title -->
<section class="section advantages">
  <div class="container">
    <h2 class="advantages__title">How do we do it</h2>
    <ul class="advantages__list card-set">
      <li class="advantages__item card-item">
        <h3 class="advantages__label">Adapted author's UPE program</h3>
      </li>
      <li class="advantages__item card-item">
        <h3 class="advantages__label">Modern teaching methods</h3>
      </li>
      <li class="advantages__item card-item">
        <h3 class="advantages__label">Financial guarantee the result</h3>
      </li>
    </ul>
  </div>
</section>
