<section class="section benefits" id="al-benefits">
    <div class="container">
        <h2 class="section-title benefits-title">Why do people choose us</h2>
        <div class="benefits__div" data-aos="fade-right">
            <ul class="benefits__list">
                <li class="benefits__item">
                    <span class="side-line">—&nbsp;</span>Training in small groups
                </li>
                <li class="benefits__item">
                    <span class="side-line">—&nbsp;</span>Rendered notes
                </li>
                <li class="benefits__item">
                    <span class="side-line">—&nbsp;</span>Each lesson has a goal and a specific result
                </li>
                <li class="benefits__item">
                    <span class="side-line">—&nbsp;</span>The real results of the teacher
                </li>
                <li class="benefits__item">
                    <span class="side-line">—&nbsp;</span>The course program meets the requirements of the MES of
                    Ukraine
                </li>
                <li class="benefits__item">
                    <span class="side-line">—&nbsp;</span>Set of groups by level of knowledge
                </li>
            </ul>
        </div>
    </div>
</section>