<div class="container">
    <h2 class="contacts__title">Registration for a <span class="text-accent">free</span> phone <span
            class="text-accent">consultation</span> on the nuances of
        English UPE</h2>
    <p class="contacts__paragraph">Leave a request for participation in a <span class="text-accent">free lesson</span>.
        A consultant will contact you and answer your questions</p>
    <form class="form">

        <label class="form-label ">
            <input type="text" class="form-input text" name="username" minlength="4" maxlength="20"
                pattern="^[A-Za-zA-Яа-лЁё]{6,}" placeholder="Name*" required>
        </label>


        <label class="form-label">

            <input type="tel" class="form-input tel" name="tel" placeholder="Phone*" required minlength="9"
                maxlength="12">
        </label>

        <button type="submit" class="form-button">i want a free lesson</button>
    </form>
</div>