

    <section class="contacts">
      
       <div class="container"> 
         <h2 class="contacts__title">Registration for a <span>free</span> phone <span>consultation</span> on the nuances of English UPE</h2>
        <p class="contacts__paragraph">Leave a request for participation in a <span> free lesson</span>.
           A consultant will contact you and answer your questions</p>
           <form class="form">

               <label class="form-label">
                 <input type="text" class="form-input" name="username" placeholder="Name*">
               </label>
             

               <label class="form-label">
             
                 <input type="tel" class="form-input" name="tel" placeholder="Phone*">
               </label>     

      <button type="submit" class="form-button">i want a free lesson</button>
    </form>
  </div>
</section>
