<footer class="section footer__section">
    <div class="footer container ">
        <svg class="logo__icon">
            <use href="./images/sprite/sprite.svg#icon-logo"></use>
        </svg>
        <address class="footer-nav">
            <a href="tel:+380991234567" class="footer-nav__link"> <svg class="footer-nav__phone" width="20px"
                    height="20px">
                    <use href="./images/sprite/sprite.svg#icon-phone"></use>
                </svg>+38 (099) 123 45 67</a>
            <div class="footer-nav__png">
                <a href="" class="footer-nav__instagram" aria-label="instagram" target="_blank"
                    rel="noopener noreferrer"><img src="
                    ./images/contacts/instagram.png" alt="instagram" width="40" height="40"></a>
            </div>
        </address>
    </div>
    <div class="signature">
        <div class="container">
            <p class="signature__paragraph">© All rights reserved, 2022</p>
        </div>
    </div>
</footer>