<footer class="section">
    <div class="footer container ">

        
            <svg class="logo__icon" >
                <use href="./images/sprite/sprite.svg#icon-logo"></use>
            </svg>

        
        <nav class="footer-nav">

            <a href="+380991234567" class="footer-nav__link"> <svg class="footer-nav__phone" width="20px" height="20px">
                    <use href="./images/sprite/sprite.svg#icon-phone"></use>
                </svg>+38 (099) 123 45 67</a>

            <div class="footer-nav__png">
                <a href="" class="footer-nav__instagram"><img src="./images/contacts/instagram.png" alt="instagram"
                        width="40px" height="40px"></a>
            </div>

        </nav>


    </div>
    <div class="signature container">
        <p class="signature__paragraph">© All rights reserved, 2022</p>
    </div>
</footer>