<header>
    <div class=" container header-container">
        <a href="../src/index.html" class="page-link"><svg class="logo">
                <use href="./images/sprite/sprite.svg#icon-logo"></use>
            </svg></a>
        <nav class="navi">
            <ul class="navi__list">
                <li class="navi__item"><a class="navi__link" href="#al-program">Studying program</a></li>
                <li class="navi__item"><a class="navi__link" href="#al-about">About</a></li>
                <li class="navi__item"><a class="navi__link" href="#al-benefits">Training options</a></li>
                <li class="navi__item"><a class="navi__link" href="#al-contacts">Contacts</a></li>
            </ul>
        </nav>
        <button type="button" class="navi__subscr-button" data-submit-modal-open>consultation by phone</button>
        <button class="hamburger hamburger--spring" type="button" aria-expanded="false" aria-controls="menu-container"
            data-menu-button>
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
        <div class="section">
        <include src="./partials/mobmenu.html"></include>
        </div>
    </div>
</header>