<header>
    <div class="container">
        <a href=""> <svg class="logo">
                <use href="./images/sprite/sprite.svg#icon-logo" width="80" height="30"></use>
            </svg></a>
        <nav class="navi">
            <ul class="navi__list">
                <li class="navi__item"><a class="navi__link" href="">Studying program</a></li>
                <li class="navi__item"><a class="navi__link" href="">About</a></li>
                <li class="navi__item"><a class="navi__link" href="">Training options</a></li>
                <li class="navi__item"><a class="navi__link" href="">Contacts</a></li>
            </ul>
        </nav>
        <button type="button">consultation by phone</button>
        <button type="button" class="navi__menu-button" aria-expanded="false" aria-controls="menu-container"
            data-menu-button>
            <svg width="21" height="21" aria-label="Переключатель мобильного меню">
                <use class="icon-menu" href=></use>
                <use class="icon-cross" href=></use>
            </svg>
        </button>
        <div class="menu-container" id="menu-container" data-menu>
            <a href=""> <svg class="logo">
                    <use href="./images/sprite/sprite.svg#icon-logo-white" width="80" height="30"></use>
                </svg></a>
            <ul class="menu__list">
                <li class="menu__item"><a class="navi__link" href="">Studying program</a></li>
                <li class="menu__item"><a class="navi__link" href="">Training options</a></li>
                <li class="menu__item"><a class="navi__link" href="">Contacts</a></li>
            </ul>
        </div>
    </div>
</header>