<header>
    <div class=" container header-container">
        <a href="" class="page-link"> <svg class="logo">
                <use href="./images/sprite/sprite.svg#icon-logo"></use>
            </svg></a>
        <nav class="navi">
            <ul class="navi__list">
                <li class="navi__item"><a class="navi__link" href="#al-program">Studying program</a></li>
                <li class="navi__item"><a class="navi__link" href="#al-about">About</a></li>
                <li class="navi__item"><a class="navi__link" href="#al-benefits">Training options</a></li>
                <li class="navi__item"><a class="navi__link" href="#al-contacts">Contacts</a></li>
            </ul>
        </nav>
        <button type="button" class="navi__subscr-button" submit-modal-open>consultation by phone</button>
        <button type="button" class="navi__menu-button" aria-expanded="false" aria-controls="menu-container"
            data-menu-button>
            <svg width="26" height="26" aria-label="Переключатель мобильного меню">
                <use class="icon-menu" href="./images/sprite/sprite.svg#icon-menu-burger" width="26" height="26"></use>
                <use class="icon-cross" href="./images/sprite/sprite.svg#icon-menu-cross" width="26" height="26"></use>
            </svg>
        </button>
        <div class="menu-container" id="menu-container" data-menu>
            <div class="container mobile-div">
            <a href=""> <svg class="logo">
                    <use href="./images/sprite/sprite.svg#icon-logo-white"></use>
                </svg></a>
            <ul class="menu__list">
                <li class="menu__item"><a class="menu__link" href="#al-program">Studying program</a></li>
                <li class="menu__item"><a class="menu__link" href="#al-about">About</a></li>
                <li class="menu__item"><a class="menu__link" href="#al-benefits">Training options</a></li>
                <li class="menu__item"><a class="menu__link" href="#al-contacts">Contacts</a></li>
            </ul>
            <button type="button" class="menu__subscr-button" submit-modal-open>consultation by phone</button>
            </div>
        </div>
    </div>
</header>