<div class="menu-container" id="menu-container" data-menu>
    <div class="container mobile-div">
        <a href=""> <svg class="logo">
                <use href="./images/sprite/sprite.svg#icon-logo-white"></use>
            </svg></a>
        <ul class="menu__list">
            <li class="menu__item"><a class="menu__link" href="#al-program">Studying program</a></li>
            <li class="menu__item"><a class="menu__link" href="#al-about">About</a></li>
            <li class="menu__item"><a class="menu__link" href="#al-benefits">Training options</a></li>
            <li class="menu__item"><a class="menu__link" href="#al-contacts">Contacts</a></li>
        </ul>
        <button type="button" class="menu__subscr-button" aria-label="subscribe" data-submit-modal-open>consultation by
            phone</button>
    </div>
</div>