<div class="backdrop is-hidden" data-submit-modal>
    <div class="modal">
        <section class="section contacts">
            <include src="./partials/contacts_form.html"></include>
            <button class="close-button" type="button" aria-label="submit form" data-submit-modal-close>
                <svg class="close-icon" width="16" height="16">
                    <use href="./images/sprite/sprite.svg#icon-menu-cross"></use>
                </svg>
            </button>
        </section>
    </div>
</div>