<section class="section problems section--problems">
  <div class="problems__bg"></div>
  <div class="container">
    <h2 class="section-title problems__title" data-aos="fade-left">
      The main problems of students <br> in English UPE, which <br> we <span class="text-accent">help</span> to solve</h2>
    <ul class="problems__list card-set" data-aos="fade-right">
      <li class="problems__item card-item"><span class="side-line">—&nbsp;</span>Grammar</li>
      <li class="problems__item card-item"><span class="side-line">—&nbsp;</span>Inability to understand spoken English</li>
      <li class="problems__item card-item"><span class="side-line">—&nbsp;</span>Stingy vocabulary for writing an essay</li>
      <li class="problems__item card-item"><span class="side-line">—&nbsp;</span>Preparing alone</li>
      <li class="problems__item card-item"><span class="side-line">—&nbsp;</span>Lack of a single knowledge
        resource</li>
      <li class="problems__item card-item"><span class="problems__line">—&nbsp;</span>Lack of self-organization and
        laziness</li>
    </ul>
  </div>
</section>