<section class="program">
    <div class="container">
        <h2 class="section__title">Our program</h2>
        <ul class="program__list">
            <li class="program__item">
                <h3 class="program__item-title">1 semester</h3>






                <div class="program__item-wrapper">
                    <div class="programm__item-holder">
                        <h3 class="programm__secondarytitle">Grammar</h3>
                        <p class="programm__paragraph">Nouns & Articles</p>
                        <p class="programm__paragraph">Adjectives & Adverb</p>
                    </div>
                    <div class="programm__item-holder">
                        <h3 class="programm__secondarytitle">Vocabulary</h3>
                        <p class="programm__paragraph">Family & Relations</p>
                        <p class="programm__paragraph">People & Society</p>
                    </div>
                </div>
            </li>





            <li class="programm__listitem">
                <h3 class="program__item-title">2 semester</h3>
                <div class="program__item-wrapper">
                    <div class="programm__item-holder">
                        <h3 class="programm__secondarytitle">Grammar</h3>
                        <p class="programm__paragraph">Pronouns</p>
                        <p class="programm__paragraph">Active Voice</p>
                        <p class="programm__paragraph">Passive Voice</p>
                    </div>
                    <div class="programm__item-holder">
                        <h3 class="programm__secondarytitle">Vocabulary</h3>
                        <p class="programm__paragraph">Home</p>
                        <p class="programm__paragraph">School</p>
                        <p class="programm__paragraph">Work</p>
                    </div>
                </div>
            </li>
            <li class="programm__listitem">
                <h3 class="program__item-title">3 semester</h3>
                <div class="program__item-wrapper">
                    <div class="programm__item-holder">
                        <h3 class="programm__secondarytitle">Grammar</h3>
                        <p class="programm__paragraph">Modal verbs</p>
                        <p class="programm__paragraph">Infinitive</p>
                        <p class="programm__paragraph">Gerund</p>
                        <p class="programm__paragraph">Participle: 1, 2</p>
                    </div>
                    <div class="programm__item-holder">
                        <h3 class="programm__secondarytitle">Vocabulary</h3>
                        <p class="programm__paragraph">Travel & Tourism</p>
                        <p class="programm__paragraph">Culture & Free</p>
                        <p class="programm__paragraph">Time Sport</p>
                    </div>
                    <div class="programm__item-holder">
                        <h3 class="programm__secondarytitle">Writing</h3>
                        <p class="programm__paragraph">Informal Letter</p>
                    </div>
                </div>
            </li>
            <li class="programm__listitem">
                <h3 class="program__item-title">4 semester</h3>
                <div class="program__item-wrapper">
                    <div class="programm__item-holder">
                        <h3 class="programm__secondarytitle">Grammar</h3>
                        <p class="programm__paragraph">Clauses: Conditional</p>
                        <p class="programm__paragraph">and Wishes</p>
                        <p class="programm__paragraph">Direct / Reported speech</p>
                        <p class="programm__paragraph">Preposition</p>
                        <p class="programm__paragraph">Conjuction</p>
                        <p class="programm__paragraph">Numeral</p>
                    </div>
                    <div class="programm__items-wrap">
                        <h3 class="programm__secondarytitle">Vocabulary</h3>
                        <p class="programm__paragraph">Healthy Living</p>
                        <p class="programm__paragraph">Nature & Environment</p>
                        <p class="programm__paragraph">Money</p>
                    </div>
                    <div class="programm__items-wrap">
                        <h3 class="programm__secondarytitle">Writing</h3>
                        <p class="programm__paragraph">Formal Letter</p>
                    </div>
                </div>
            </li>
            <li class="programm__listitem programm__modi">
                <h3 class="program__item-title program__mod">5 semester</h3>
                <div class="program__item-wrapper">
                    <div class="programm__items-wrap">
                        <h3 class="programm__secondarytitle"></h3>
                        <p class="programm__paragraph">Revision</p>
                        <p class="programm__paragraph">Tests</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>