<section class="section program" id="al-program">
    <div class="container">
        <h2 class="section-title program__title" data-aos="fade-right">Our program</h2>
        <ul class="program__list card-set" data-aos="fade-left">
            <li class="program__item card-item">
                <h3 class="program__item-title">1 semester</h3>
                <ul class="program__item-list card-set">
                    <li class="programm__item-holder card-item">
                        <h4 class="program__item-subtitle">Grammar</h4>
                        <p class="program__item-text">Nouns & Articles</p>
                        <p class="program__item-text">Adjectives & Adverb</p>
                    </li>
                    <li class="programm__item-holder card-item">
                        <h4 class="program__item-subtitle">Vocabulary
                        </h4>
                        <p class="program__item-text">Family & Relations</p>
                        <p class="program__item-text">People & Society</p>
                    </li>
                </ul>
            </li>
            <li class="program__item card-item">
                <h3 class="program__item-title">2 semester</h3>
                <ul class="program__item-list card-set">
                    <li class="programm__item-holder card-item">
                        <h4 class="program__item-subtitle">Grammar</h4>
                        <p class="program__item-text">Pronouns</p>
                        <p class="program__item-text">Active Voice</p>
                        <p class="program__item-text">Passive Voice</p>
                    </li>
                    <li class="programm__item-holder card-item">
                        <h4 class="program__item-subtitle">Vocabulary
                        </h4>
                        <p class="program__item-text">Home</p>
                        <p class="program__item-text">School</p>
                        <p class="program__item-text">Work</p>
                    </li>
                </ul>
            </li>
            <li class="program__item card-item">
                <h3 class="program__item-title">3 semester</h3>
                <ul class="program__item-list card-set">
                    <li class="programm__item-holder card-item">
                        <h4 class="program__item-subtitle">Grammar</h4>
                        <p class="program__item-text">Modal verbs</p>
                        <p class="program__item-text">Infinitive</p>
                        <p class="program__item-text">Gerund</p>
                        <p class="program__item-text">Participle: 1, 2</p>
                    </li>
                    <li class="programm__item-holder card-item">
                        <h4 class="program__item-subtitle">Vocabulary
                        </h4>
                        <p class="program__item-text">Travel & Tourism</p>
                        <p class="program__item-text">Culture & Free Time</p>
                        <p class="program__item-text">Sport</p>
                    </li>
                    <li class="programm__item-holder card-item">
                        <h4 class="program__item-subtitle">Writing</h4>
                        <p class="program__item-text">Informal Letter</p>
                    </li>
                </ul>
            </li>
            <li class="program__item card-item">
                <h3 class="program__item-title">4 semester</h3>
                <ul class="program__item-list card-set">
                    <li class="programm__item-holder card-item">
                        <h4 class="program__item-subtitle">Grammar</h4>
                        <p class="program__item-text">Clauses: Conditional and Wishes</p>
                        <p class="program__item-text">Direct / Reported speech</p>
                        <p class="program__item-text">Preposition</p>
                        <p class="program__item-text">Conjuction</p>
                        <p class="program__item-text">Numeral</p>
                    </li>
                    <li class="programm__item-holder card-item">
                        <h4 class="program__item-subtitle">Vocabulary
                        </h4>
                        <p class="program__item-text">Healthy Living</p>
                        <p class="program__item-text">Nature & Environment</p>
                        <p class="program__item-text">Money</p>
                    </li>
                    <li class="programm__item-holder card-item">
                        <h4 class="program__item-subtitle">Writing</h4>
                        <p class="program__item-text">Formal Letter</p>
                    </li>
                </ul>
            </li>
            <li class="program__item card-item">
                <h3 class="program__item-title">5 semester</h3>
                <ul class="program__item-list card-set">
                    <li class="programm__item-holder card-item">
                        <h4 class="program__item-subtitle">&nbsp;</h4>
                        <p class="program__item-text">Revision</p>
                        <p class="program__item-text">Tests</p>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>