<section class="program">
    <div class="container">
        <h2 class="section__title">Our program</h2>
        <ul class="program__list">
            <li class="program__item">
                <h3 class="program__subtitle">1 semester</h3>
                <div class="program__item-wrapper">
                    <div class="programm__item-wrap">
                        <h3 class="programm__secondarytitle">Grammar</h3>
                        <p class="programm__paragraph">Nouns & Articles</p>
                        <p class="programm__paragraph">Adjectives & Adverb</p>
                    </div>
                    <div class="programm__items-wrap">
                        <h3 class="programm__secondarytitle">Vocabulary</h3>
                        <p class="programm__paragraph">Family & Relations</p>
                        <p class="programm__paragraph">People & Society</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>