

    <section class="reviews"
    <div class="container">
        <h2 class="reviews__title">
            Feedback from graduates
        </h2>
        <div class="slider-top-js reviews__list">
            <div class="reviews__item">
                <img src="" alt="">
                <a href=""></a>
                <h3></h3>
                <p></p>
            </div>
        </div>
        <div class="slider-bottom-js reviews__list-photo">
            <div class="reviews__item-photo">
                <img src="" alt="">


            </div>
        </div>

    </div>
</section>
