<section class="section reviews">
    <div class="container  reviews__container ">
        <h2 class="section-title revie">Feedback from graduates</h2>
        <div class="slider-top-js reviews__list">
            <div class="reviews__item">
                <div class="reviews__position">
                    <div class="reviews__blok-img"> <img class="reviews__img" srcset="
                    ./images/rewiews/avatar1.png 1x,
                    ./images/rewiews/avatar1@2x.png 2x
                  " src="./images/rewiews/avatar1@2x.png" width="90" height="90" alt="costumer photo">
                        <a href="" class="reviews__icon" aria-label="facebook">
                            <svg width="34px" height="34px">
                                <use href="./images/sprite/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__text">
                        <h3 class="reviews__title">Tonya Kucherovskaya</h3>
                        <p class="reviews__paragraph">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="reviews__title-paragraph">In a short time with Elena, I mastered grammar and
                            replenished
                            my completely empty vocabulary. From
                            the first lesson I realized that I was on my plate. Elena and I became friends because she
                            was
                            really worried about my success. She became an authority for me, but I did not tremble in
                            class,
                            fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                        <details>
                            <summary class="reviews__link">Read more</summary>
                            <p class="summary-paragraph"> Something small enough to escape casual notice.</p>
                        </details>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__position">
                    <div class="reviews__blok-img"> <img class="reviews__img" srcset="
                    ./images/rewiews/avatar2.png 1x,
                    ./images/rewiews/avatar2@2x.png 2x  
                  " src="./images/rewiews/avatar2@2x.png" width="90" height="90" alt="costumer photo">

                        <a href="" class="reviews__icon" aria-label="facebook">
                            <svg width="34px" height="34px">
                                <use href="./images/sprite/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__text">
                        <h3 class="reviews__title">Tonya Kucherovskaya</h3>
                        <p class="reviews__paragraph">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>

                        <p class="reviews__title-paragraph">In a short time with Elena, I mastered grammar and
                            replenished
                            my completely empty vocabulary. From
                            the first lesson I realized that I was on my plate. Elena and I became friends because she
                            was
                            really worried about my success. She became an authority for me, but I did not tremble in
                            class,
                            fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                        <details>
                            <summary class="reviews__link">Read more</summary>
                            <p class="summary-paragraph"> Something small enough to escape casual notice.</p>
                        </details>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__position">
                    <div class="reviews__blok-img"> <img class="reviews__img" srcset="
                    ./images/rewiews/avatar6.png 1x,
                    ./images/rewiews/avatar6@2x.png 2x  
                  " src="./images/rewiews/avatar6@2x.png" width="90" height="90" alt="costumer photo">

                        <a href="" class="reviews__icon" aria-label="facebook">
                            <svg width="34px" height="34px">
                                <use href="./images/sprite/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__text">
                        <h3 class="reviews__title">Tonya Kucherovskaya</h3>
                        <p class="reviews__paragraph">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="reviews__title-paragraph">In a short time with Elena, I mastered grammar and
                            replenished
                            my completely empty vocabulary. From
                            the first lesson I realized that I was on my plate. Elena and I became friends because she
                            was
                            really worried about my success. She became an authority for me, but I did not tremble in
                            class,
                            fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                        <details>
                            <summary class="reviews__link">Read more</summary>
                            <p class="summary-paragraph"> Something small enough to escape casual notice.</p>
                        </details>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__position">
                    <div class="reviews__blok-img"> <img class="reviews__img" srcset="
                    ./images/rewiews/avatar3.png 1x,
                    ./images/rewiews/avatar3@2x.png 2x
                  " src="./images/rewiews/avatar3@2x.png" width="90" height="90" alt="costumer photo">
                        <a href="" class="reviews__icon" aria-label="facebook">
                            <svg width="34px" height="34px">
                                <use href="./images/sprite/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__text">
                        <h3 class="reviews__title">Tonya Kucherovskaya</h3>
                        <p class="reviews__paragraph">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>

                        <p class="reviews__title-paragraph">In a short time with Elena, I mastered grammar and
                            replenished
                            my completely empty vocabulary. From
                            the first lesson I realized that I was on my plate. Elena and I became friends because she
                            was
                            really worried about my success. She became an authority for me, but I did not tremble in
                            class,
                            fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                        <details>
                            <summary class="reviews__link">Read more</summary>
                            <p class="summary-paragraph"> Something small enough to escape casual notice.</p>
                        </details>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__position">
                    <div class="reviews__blok-img"> <img class="reviews__img" srcset="
                    ./images/rewiews/avatar4.png 1x,
                    ./images/rewiews/avatar4@2x.png 2x
                  " src="./images/rewiews/avatar4@2x.png" width="90" height="90" alt="costumer photo">
                        <a href="" class="reviews__icon" aria-label="facebook">
                            <svg width="34px" height="34px">
                                <use href="./images/sprite/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__text">
                        <h3 class="reviews__title">Tonya Kucherovskaya</h3>
                        <p class="reviews__paragraph">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="reviews__title-paragraph">In a short time with Elena, I mastered grammar and
                            replenished
                            my completely empty vocabulary. From
                            the first lesson I realized that I was on my plate. Elena and I became friends because she
                            was
                            really worried about my success. She became an authority for me, but I did not tremble in
                            class,
                            fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                        <details>
                            <summary class="reviews__link">Read more</summary>
                            <p class="summary-paragraph"> Something small enough to escape casual notice.</p>
                        </details>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__position">
                    <div class="reviews__blok-img"> <img class="reviews__img" srcset="
                    ./images/rewiews/avatar5.png 1x,
                    ./images/rewiews/avatar5@2x.png 2x
                  " src="./images/rewiews/avatar5@2x.png" width="90" height="90" alt="costumer photo">
                        <a href="" class="reviews__icon" aria-label="facebook">
                            <svg width="34px" height="34px">
                                <use href="./images/sprite/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__text">
                        <h3 class="reviews__title">Tonya Kucherovskaya</h3>
                        <p class="reviews__paragraph">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="reviews__title-paragraph">In a short time with Elena, I mastered grammar and
                            replenished
                            my completely empty vocabulary. From
                            the first lesson I realized that I was on my plate. Elena and I became friends because she
                            was
                            really worried about my success. She became an authority for me, but I did not tremble in
                            class,
                            fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                        <details>
                            <summary class="reviews__link">Read more</summary>
                            <p class="summary-paragraph"> Something small enough to escape casual notice.</p>
                        </details>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__position">
                    <div class="reviews__blok-img"> <img class="reviews__img" srcset="
                    ./images/rewiews/avatar6.png 1x,
                    ./images/rewiews/avatar6@2x.png 2x
                  " src="./images/rewiews/avatar6@2x.png" width="90" height="90" alt="costumer photo">
                        <a href="" class="reviews__icon" aria-label="facebook">
                            <svg width="34px" height="34px">
                                <use href="./images/sprite/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__text">
                        <h3 class="reviews__title">Tonya Kucherovskaya</h3>
                        <p class="reviews__paragraph">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="reviews__title-paragraph">In a short time with Elena, I mastered grammar and
                            replenished
                            my completely empty vocabulary. From
                            the first lesson I realized that I was on my plate. Elena and I became friends because she
                            was
                            really worried about my success. She became an authority for me, but I did not tremble in
                            class,
                            fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                        <details>
                            <summary class="reviews__link">Read more</summary>
                            <p class="summary-paragraph"> Something small enough to escape casual notice.</p>
                        </details>
                    </div>
                </div>
            </div>
            <div class="reviews__item">
                <div class="reviews__position">
                    <div class="reviews__blok-img"> <img class="reviews__img" srcset="
                    ./images/rewiews/avatar7.png 1x,
                    ./images/rewiews/avatar7@2x.png 2x
                  " src="./images/rewiews/avatar7@2x.png" width="90" height="90" alt="costumer photo">
                        <a href="" class="reviews__icon" aria-label="facebook">
                            <svg width="34px" height="34px">
                                <use href="./images/sprite/sprite.svg#icon-facebook"></use>
                            </svg>
                        </a>
                    </div>
                    <div class="reviews__text">
                        <h3 class="reviews__title">Tonya Kucherovskaya</h3>
                        <p class="reviews__paragraph">Graduated from 2015, National University of Bioresources
                            and natural history of Ukraine</p>
                        <p class="reviews__title-paragraph">In a short time with Elena, I mastered grammar and
                            replenished
                            my completely empty vocabulary. From
                            the first lesson I realized that I was on my plate. Elena and I became friends because she
                            was
                            really worried about my success. She became an authority for me, but I did not tremble in
                            class,
                            fearing to make the slightest mistake. Now I can brag that I'm student ...</p>
                        <details>
                            <summary class="reviews__link">Read more</summary>
                            <p class="summary-paragraph"> Something small enough to escape casual notice.</p>
                        </details>
                    </div>
                </div>
            </div>
        </div>
        <div class="slider-bottom-js reviews__list-photo">
            <div class="reviews__item-photo">
                <img srcset="
                ./images/rewiews/avatar1.png 1x,
                ./images/rewiews/avatar1@2x.png 2x  

              " src="./images/rewiews/avatar1.png" width="55" height="55" alt="costumer photo">


            </div>
            <div class="reviews__item-photo">
                <img srcset="
                ./images/rewiews/avatar2.png 1x,
                ./images/rewiews/avatar2@2x.png 2x  

              " src="./images/rewiews/avatar2.png" width="55" height="55" alt="costumer photo">



            </div>
            <div class="reviews__item-photo">
                <img srcset="
                ./images/rewiews/avatar6.png 1x,
                ./images/rewiews/avatar6@2x.png 2x  

              " src="./images/rewiews/avatar6.png" width="55" height="55" alt="costumer photo">



            </div>
            <div class="reviews__item-photo">
                <img srcset="
                ./images/rewiews/avatar3.png 1x,
                ./images/rewiews/avatar3@2x.png 2x  

              " src="./images/rewiews/avatar3.png" width="55" height="55" alt="costumer photo">

            </div>
            <div class="reviews__item-photo">
                <img srcset="
                ./images/rewiews/avatar4.png 1x,
                ./images/rewiews/avatar4@2x.png 2x  

              " src="./images/rewiews/avatar4.png" width="55" height="55" alt="costumer photo">



            </div>
            <div class="reviews__item-photo">
                <img srcset="
                ./images/rewiews/avatar5.png 1x,
                ./images/rewiews/avatar5@2x.png 2x  

              " src="./images/rewiews/avatar5.png" width="55" height="55" alt="costumer photo">



            </div>
            <div class="reviews__item-photo">
                <img srcset="
                ./images/rewiews/avatar6.png 1x,
                ./images/rewiews/avatar6@2x.png 2x  

              " src="./images/rewiews/avatar6.png" width="55" height="55" alt="costumer photo">



            </div>
            <div class="reviews__item-photo">
                <img srcset="
                ./images/rewiews/avatar7.png 1x,
                ./images/rewiews/avatar7@2x.png 2x  

              " src="./images/rewiews/avatar7.png" width="55" height="55" alt="costumer photo">


            </div>
        </div>
        <button type="button" aria-label="next button" class="button-arrowl"><svg class="arrow" width="25px"
                height="14">
                <use href="./images/sprite/sprite.svg#icon-Arrow-1"></use>
            </svg></button>
        <button type="button" aria-label="prev button" class="button-arrowr"><svg class="arrow" width="25px"
                height="14">
                <use href="./images/sprite/sprite.svg#icon-Arrow-2"></use>
            </svg></button>
    </div>
</section>