.benefits{
    background: linear-gradient(to top, white 50%, black 50%);
}
.benefits-div{
background-color: white;
padding: 35px 22px;
@media screen and (min-width: 786px) {
    padding: 40px;
    }

}
.benefits-title{
    color: var(--bg-white-color);
}
.benefits__list{
    counter-reset: span;
    display: flex;
    flex-wrap: wrap;
}
.benefits__item{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    @media screen and (min-width: 786px) {
    width: 50%;        
    }
        @media screen and (min-width: 1366px) {
            width: 33%;
        }
}