
header .container{
    padding: 30px 20px;
    display: flex;
    align-items: center;
}
.navi {

    display: flex;
    align-self: center;
}

.navi__list {
    display: inline-flex;

    :not(:last-child) {
        margin-right: 40px;
    }

}

.menu-container {
    display: none;
}

.logo{
    width: 80px;
    height: 30px;
 }

