.header-container {
  padding: 30px 20px;
  display: flex;
  align-items: center;
}
header {
  position: relative;
}
.navi {
  display: none;
  @media screen and (min-width: 1366px) {
    display: flex;
    align-self: center;
  }
}
.navi__button {
  @media screen and (max-width: 1366px) {
    margin-left: auto;
  }
}

.navi__list {
  display: inline-flex;
  :not(:last-child) {
    margin-right: 40px;
  }
}
.navi__link{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--secondaryTextColor);
    &:hover,
    &:focus{
      color: var(--accent-color);
    }
}

.logo{
  width: 80px;
  height: 30px;
  @media screen and (min-width: 768px){
    width: 128px;
      height: 45px;
  }
}

.page-link{
@media screen and (min-width: 1366px) {
    margin-right: 144px;
}
}

.navi__menu-button {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  display: inline-flex;
  z-index: 4;
  cursor: pointer;
  @media screen and (max-width: 767px){
  margin-left: auto;
  }
  @media screen and (min-width: 1366px) {
    display: none;
  }
}

.navi__menu-button {
  .icon-cross {
    display: none;
    fill: black;
    width: 14px;
    height: 14px;
  }

  &.is-open .icon-cross {
    display: block;
  }

  &.is-open .icon-menu {
    display: none;
  }
}

.navi__subscr-button {
  display: none;
  @media screen and (min-width: 768px) {
    display: flex;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.14em;
    text-transform: uppercase;
    color: var(--accent-color);
    height: 48px;
    border: 2px solid var(--accent-color);
    background: transparent;
    align-items: center;
    margin-left: auto;
    margin-right: 40px;
    cursor: pointer;
  }
  }
