header .container {
  padding: 30px 20px;
  display: flex;
  align-items: center;
}
header {
  position: relative;
}

.navi {
  display: none;

  @media screen and (min-width: 1366px) {
    display: flex;
    align-self: center;
  }
}

.navi__button {
  @media screen and (max-width: 1366px) {
    margin-left: auto;
  }
}

.navi__list {
  display: inline-flex;

  :not(:last-child) {
    margin-right: 40px;
  }
}

// .menu-container {
//     display: none;
// }

.logo {
  width: 80px;
  height: 30px;
}

.navi__menu-button {
  border: none;
  background: transparent;
  margin: 0;
  padding: 0;
  display: inline-flex;
  z-index: 4;
  cursor: pointer;
  @media screen and (min-width: 1366px) {
    display: none;
  }
}

.navi__menu-button {
  .icon-cross {
    display: none;
    fill: black;
  }
  &.is-open .icon-cross {
    display: block;
  }
  &.is-open .icon-menu {
    display: none;
  }
}

.menu-container {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: white;
  height: 100vh;

  @media screen and (min-width: 1365px) {
    visibility: hidden;
  }
}

.menu-container.is-open {
  display: flex;
  flex-direction: column;
  padding: 30px 20px;
  background: rgba(17, 21, 24, 0.9);
}
