.how-we-do__title {
  font-weight: 800;
  font-size: 20px;
  line-height: 1.3;
  text-align: center;
  letter-spacing: 0.03em;
}

.how-we-do__label {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  text-align: center;
  letter-spacing: 0.08em;
}

.how-we-do__text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;
  text-align: center;
  letter-spacing: 0.08em;
  color: var(--secondaryTextColor);
}
