.program {
  position: relative;

  margin-top: 40px;
  padding-top: 50px;
  padding-bottom: 50px;

  background-color: var(--bg-black-color);

  @include mq(tab) {
    padding-top: 60px;
    padding-bottom: 137px;
  }

  @include mq(desk) {
    padding-top: 120px;
    padding-bottom: 326px;
  }
}

.program::before {
  @include mq(desk) {
    content: '';
    position: absolute;
    height: 3px;
    width: 100vw;
    top: 197px;
    background-color: var(--bg-white-color);
    transform: translateY(-50%);
  }
}

.program__title {
  margin-bottom: 30px;

  color: var(--bg-white-color);

  @include mq(tab) {
    margin-bottom: 52px;

    text-align: left;
  }

  @include mq(desk) {
    margin-bottom: 58px;
  }
}

.program__list {
  --card-gap: 40px;

  @include mq(tab) {
    --card-gap: 30px;
  }

  @include mq(desk) {
    --card-item: 5;
    --card-gap: 46px;
  }
}

.program__item-list {
  --card-gap: 8px;

  @include mq(tab) {
    --card-item: 3;
    --card-gap: 50px;
  }

  @include mq(desk) {
    --card-item: 1;
    --card-gap: 25px;
  }
}

.program__item {
  position: relative;

  @include mq(no-desk) {
    padding-left: 68px;
  }
}

.program__item:not(:last-child)::before {
  @include mq(no-desk) {
    content: '';
    position: absolute;
    top: 10px;
    left: 33px;
    width: 3px;
    height: 140%;
    background-color: var(--bg-white-color);
  }
}

.program__item:nth-last-child(-n + 2)::before {
  height: 114%;
}

.program__item-title {
  position: relative;

  margin-bottom: 5px;

  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;

  color: var(--bg-white-color);

  @include mq(desk) {
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 1.4;
  }
}

.program__item-title::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -39px;
  width: 11px;
  height: 11px;
  transform: translateY(-50%);
  border-radius: 50%;
  background-color: #ff6b08;
  z-index: 1;

  @include mq(desk) {
    left: 0;
    top: -40px;
    transform: translateY(-50%);
  }
}

.program__item-subtitle {
  position: relative;
  padding-left: 25px;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;

  color: var(--accent-color);

  @include mq(tab) {
    margin-bottom: 10px;
  }

  @include mq(desk) {
    font-size: 20px;
    line-height: 1.65;
  }
}

.program__item-subtitle::after {
  content: '';
  position: absolute;
  height: 2px;
  width: 20px;
  top: 50%;
  left: 0;
  background-color: var(--accent-color);
  transform: translateY(-50%);
}

.program__item-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: var(--secondaryTextColor);

  @include mq(desk) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.program__image-wrapper {
  position: absolute;
  bottom: -50px;

  width: 185px;
  left: calc(50% + 35px);

  @include mq(tab) {
    bottom: -5px;
    margin-bottom: 35px;

    width: 374px;
    left: calc(50% + 15px);
  }

  @include mq(desk) {
    bottom: 0;
    margin-bottom: 14px;

    width: 672px;
    left: calc(25% - 500px);
  }
}
