.program {
  position: relative;

  margin-top: 40px;
  padding-top: 50px;

  background-color: var(--bg-black-color);
}

.program__title {
  margin-bottom: 30px;

  color: var(--bg-white-color);

  @include mq(tab) {
    margin-bottom: 52px;
  }

  @include mq(desk) {
    margin-bottom: 58px;
  }
}

.program__list {
  --card-gap: 40px;

  @include mq(tab) {
    --card-gap: 30px;
  }

  @include mq(desk) {
    --card-item: 5;
    --card-gap: 46px;
  }
}

.program__item-list {
  --card-gap: 8px;

  @include mq(tab) {
    --card-item: 3;
    --card-gap: 50px;
  }

  @include mq(desk) {
    --card-item: 1;
    --card-gap: 25px;
  }
}

.program__item-title {
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 14px;
  line-height: 2;
  text-transform: uppercase;

  color: var(--bg-white-color);

  @include mq(desk) {
    margin-bottom: 25px;

    font-size: 20px;
    line-height: 1.4;
  }
}

.program__item-subtitle {
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 12px;
  line-height: 1.67;

  color: var(--accent-color);

  @include mq(tab) {
    margin-bottom: 10px;
  }

  @include mq(desk) {
    font-size: 20px;
    line-height: 1.65;
  }
}

.program__item-subtitle {
  margin-left: 12px;
  position: relative;
}

.program__item-subtitle::after {
  content: '';
  position: absolute;
  top: 4px;
  left: 9px;
  transform: rotate(90deg);
  height: 14px;
  border: 1px solid var(--accent-color);
  background-color: var(--accent-color);
}

.program__item-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: var(--secondaryTextColor);

  @include mq(desk) {
    font-size: 18px;
    line-height: 1.56;
  }
}

.program__image-wrapper {
  position: absolute;
  width: 185px;
  bottom: 0;
  left: calc(50% + 35px);

  @include mq(tab) {
    margin-bottom: 35px;
    left: calc(50% + 150px);
  }
}

// .programm__listitem {
//   padding-bottom: 45px;
//   position: relative;
//   padding-left: 35px;
// }

// .programm__listitem:before {
//   content: '';
//   position: absolute;
//   top: 7px;
//   left: 0;
//   width: 2px;
//   height: 100%;
//   background-color: #858585;
// }

// .programm__modi:before {
//   content: none;
// }

// .programm__mod:after {
//   content: '';
//   display: block;
//   width: 25px;
//   height: 2px;
//   background-color: #ff6b08;
//   margin-right: auto;
//   margin-top: 20px;
//   margin-bottom: 5px;
// }

// .programm__semestertitle {
//   font-family: Mon-800;
//   font-size: 15px;
//   color: #fff;
//   position: relative;
// }

// .programm__semestertitle:before {
//   content: '';
//   position: absolute;
//   top: 6px;
//   left: -39px;
//   width: 11px;
//   height: 11px;
//   border-radius: 50%;
//   background-color: #ff6b08;
//   z-index: 1;
// }

// .programm__secondarytitle {
//   font-family: Mon-800;
//   font-size: 13px;
//   color: #ff6b08;
//   margin-bottom: 15px;
//   margin-top: 15px;
// }

// .programm__paragraph {
//   font-family: Mon-400;
//   font-size: 11px;
//   color: #858585;
//   line-height: 2;
// }

// .programm__title {
//   font-size: 26px;
//   text-align: start;
//   margin-bottom: 50px;
// }

// .programm__wraper {
//   margin-bottom: 20px;
// }

// .programm__list {
//   width: 510px;
// }

// .programm__main-wrap {
//   display: flex;
// }

// .programm__listitem {
//   padding-left: 50px;
// }

// .programm__semestertitle:before {
//   left: -54px;
// }

// .programm__secondarytitle {
//   margin-right: 115px;
// }
