.program__list {
  --card-top: 40px;

  @include mq(tablet) {
    --card-top: 30px;
  }

  @include mq(desktop) {
    --card-item: 5;
    --card-left: 46px;
  }
}

.program__item-list {
  --card-top: 8px;

  @include mq(tablet) {
    --card-item: 3;
    --card-left: 50px;
  }

  @include mq(desktop) {
    --card-item: 1;
    --card-top: 25px;
  }
}

.program__item-title {
  margin-bottom: 5px;

  @include mq(desktop) {
    margin-bottom: 25px;
  }
}

.program__item-subtitle {
  margin-bottom: 5px;

  @include mq(tablet) {
    margin-bottom: 10px;
  }
}
