.problems {
  position: relative;
  z-index: 1;
  background-image: linear-gradient(
    to bottom,
    var(--primaryTextColor) 82%,
    var(--bg-white-color) 18%
  );
  @include mq(tab) {
    background-image: linear-gradient(
      to bottom,
      var(--primaryTextColor) 70%,
      var(--bg-white-color) 30%
    );
  }
  @include mq(desk) {
    background-image: linear-gradient(
      to bottom,
      var(--primaryTextColor) 83%,
      var(--bg-white-color) 17%
    );
  }
}
.problems__bg {
  display: none;
  @include mq(desk) {
    display: block;
    position: absolute;
    z-index: -2;
    top: 86px;
    right: 0;
    width: 407px;
    height: 472px;
    background-image: url(../images/problems/campfire.svg);
  }
}
.section--problems {
  @include mq (desk) { 
  padding-top: 100px ;
  }
}
.problems__title {
  text-align: start;
  margin-bottom: 25px;

  font-weight: 800;
  font-size: 24px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  color: var(--bg-white-color);
  @include mq(desk) {
    font-size: 46px;
    margin-bottom: 68px;
  }
}

.problems__list {
  z-index: 3;
  counter-reset: span;
  --card-gap: 15px;
  padding: 20px 27px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.43;
  letter-spacing: 0.08em;
  color: var(--primaryTextColor);
  background-color: var(--bg-white-color);
  box-shadow: -5px 8px 26px rgba(0, 0, 0, 0.04);
  @include mq(tab-only) {
    justify-content: space-between;
  }
  @include mq(tab) {
    padding: 28px 100px;
    --card-item: 2;
    --card-gap: 20px;
  }
  @include mq(desk) {
    justify-content: space-between;
    padding: 67px 113px;
    --card-item: 3;
    --card-item: 30px;

    font-size: 20px;
  }
}

.problems__item {
  display: flex;
  flex-direction: column;

  @include mq(tab-only) {
    flex-basis: calc(100% / 2 - 44px);
  }

  @include mq(desk) {
    flex-basis: calc((100% / 3) - 26px);
  }
}

.problems__line {
  counter-increment: span;
  display: inline-block;
  margin-bottom: 5px;

  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.08em;
  color: var(--accent-color);
}

.problems__line::after {
  content: counter(span, decimal-leading-zero);
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.08em;
  color: var(--accent-color);
  @include mq(desk) {
    font-size: 20px;
  }
}
